@charset "utf-8";

/*====================================*\
	FONTS
\*====================================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

/*====================================*\
	CSS FILES
\*====================================*/

@import url("style.css");
@import url("responsive.css");

/*====================================*\
	FOCUS
\*====================================*/
input::-moz-focus-inner, button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
*:focus {
    outline: none;
}